.countdown-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: darkred;
    background-image: radial-gradient(circle at center center, black, #ccc), repeating-radial-gradient(circle at center center, black, black, 1rem, transparent 2rem, transparent 1rem);
    background-blend-mode: color-burn;
}

.countdown-main table {
    padding: 10px 100px;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, 0.3)
}
