.countdown-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: darkred;
    background-image: radial-gradient(circle at center center, black, #ccc), repeating-radial-gradient(circle at center center, black, black, 1rem, transparent 2rem, transparent 1rem);
    background-blend-mode: color-burn;
}

.countdown-main table {
    padding: 10px 100px;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, 0.3)
}

.progress-container {
    width: 300px;
}

.progress-container .percentage {
    padding-left: calc(100%*0/60000);
}

.progress {
    padding: 6px;
    background:rgb(255,255,255, 0.25);
    border-radius: 6px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}
  
.progress-bar {	
    height: 18px;
    background-color: #ee303c;  
    border-radius: 4px; 
    transition: 0.4s linear;  
    transition-property: width, background-color;    
}

.progress-striped .progress-bar { 	
    background-color: #FCBC51; 
    width: calc(100%*0/60000);
    background-image: linear-gradient(
            45deg, rgb(252,163,17) 25%, 
            transparent 25%, transparent 50%, 
            rgb(252,163,17) 50%, rgb(252,163,17) 75%,
            transparent 75%, transparent); 
}
